*{
    font-size: 32px;
    box-sizing: border-box;
}

body {
    background-color: dimgray;
}

@media only screen and (max-width: 800px) {
    *{
        font-size: 24px;
    }
    .selection:hover {
        font-size: 32px;
    }
    .result-score{
        font-size: 16px;

    }
    
    .result-selection{
        font-size: 8px;
    }
    
}

.container {
    border: 3px red dashed;
    position: fixed;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    padding: 20px;
    
}

button {
    background-color: transparent;
    border: 0;
}

.buttons{
    display: grid;
grid-template-columns: repeat(3,1fr);
margin-bottom: 15px;
}

.selection {
opacity: 0.5;
grid-row: 1;
margin: 0;

}

.selection:hover {
    opacity: 1;
    font-size: 48px;
}

.result {
display: grid;
grid-template-columns: repeat(2,1fr);
justify-items: center;
}

.result-score{
    font-size: 24px;
}

.result-selection{
    opacity: 0.5;
    font-size: 16px;
}

.result-selection:nth-child(n+13){
    display: none;
}

.winner{
    opacity: 1;
}

.end-result {
    text-align: center ;
    color: crimson;
}

